main {
    padding: 3rem 12rem;
    min-height: 85vh;
}

label {
    background-color: black !important;
    color: rgb(255, 225, 0) !important;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: -0.1rem !important;
}

.form-control {
    border-radius: 0 0.5rem 0.5rem 0.5rem !important;
    border: 3px solid black !important;
}